/.gitattributes export-ignore
/.gitmessage.txt export-ignore
/.github/** export-ignore
/.github export-ignore
/.gitignore export-ignore
/AGENTS.md export-ignore
/CHANGELOG.md export-ignore
/composer.lock export-ignore
/CONTRIBUTING.md export-ignore
/creem-php.code-workspace export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/pint.json export-ignore
/playground export-ignore
/playground/** export-ignore
/tests export-ignore
/rector.php export-ignore
/SECURITY.md export-ignore
/tests/** export-ignore
